@font-face {
  font-family: "Kfont";
  src: url("../Fonts/KoPubWorld Dotum Medium.ttf");
}
@font-face {
  font-family: "KBfont";
  src: url("../Fonts/KoPubWorld Dotum Bold.ttf");
}
@font-face {
  font-family: "SCBfont";
  src: url("../Fonts/SCDream8.otf");
}
